// bower:scss
// endbower

//Constants
$color-red: #c12425;
$color-white: #fff;
$color-dark: #2b2b2b;
$color-darkAlpha: rgba(0, 0, 0, 0.5);


//Typography
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
@import url(https://fonts.googleapis.com/css?family=Delius+Swash+Caps);
@import url(https://fonts.googleapis.com/css?family=Niconne);
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:400,700,400italic);

$font-caligrafica: 'Delius Swash Caps', cursive;
$font-subtitle: 'Niconne', cursive;
//$font-header: 'Open Sans Condensed', sans-serif;
$font-header: 'Alegreya Sans', sans-serif;


.browserupgrade {
  margin: 0.2em 0;
  background: $color-white;
  color: $color-dark;
  padding: 0.2em 0;
}

//Globals
body {
  background: #fff;
  text-align: center;
}

ul, ol {
  margin-bottom: 0;
}

section {
  position: relative;
  padding-top: 60px;
}

li > a {
  text-transform: uppercase;
  font-family: $font-header;
  color: $color-white;
  text-decoration: none;
  &:hover, &:active, &:focus {
    text-decoration: none;
    color: $color-dark;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

hr {
  margin: 0 auto;
  padding: 10px 0;
  width: 20%;
}

.row {
  margin-top: 10px;
}

//Helper classes
.img-responsive {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.small-caps {
  font-size: 1em;
}
.separator {
  fill: $color-white;
}
.hidden {
  visibility: none;
}
.capital {
  margin-right: -8px;
  font-size: 1.5em;
  line-height: 0.8em;
}


.italic {
  font-weight: 700;
}
.hidden-text {
  display: none;
}
.more-arrow {
  display: block;
  position: relative;
  text-align: center;
  cursor: pointer;
  transition: transform 0.4s ease;
  transition-delay: 0.5s;
  &:hover, &:active, &:focus {
    fill: $color-red;
  }
}
.rotate {
  transform: rotate(180deg);
  fill: $color-red;
  &:hover {
    fill: $color-dark;
  }
}
//header
#header {
  width: 100%;
  height: 100vh;
  display: block;
}

//main-nav

//Fixed top animation
.menu-fixed {
  position: fixed;
  margin-top: 0 !important;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
}

#main-nav {
  margin-top: 20px;
  background-color: $color-darkAlpha;
  color: $color-white;
}
.inner-menu {
  display: inline-block;
  margin-left: 20px;
  padding: 10px 0;
}

#logo-wrapper {
  position: relative;
  padding: 10px 0;
  float: left;
  display: inline-block;
  vertical-align: middle;
  #logo {
    position: absolute;
    top: -1.2em;
    left: 0;
    width: 6em;
    height: 6em;
  }
}

#logo-fixed-wrapper {
  position: relative;
  float: left;
  vertical-align: middle;
  #logo-fixed {
  padding: 5px 0; 
  height: 40px;
  margin-left: 13px;
  }
}

#menu-right {
  float: right;
}


//background
#header-bkg {
  width: 100%;
  height: 100vh;
  z-index: -20;
}

//main title

#main-title {
  position: absolute;
  top: 40%;
  left: 50%;
  margin-left: -171px;
  margin-top: -75px;
}

#header-callout {
  color: $color-dark;
  margin-bottom: 5px;
  font-family: $font-caligrafica;
  font-size: 2.8em;
}

#header-title {
  font-family: $font-header;
  letter-spacing: 3px;
  font-size: 2em;
  font-weight: 700;
  //text-transform: uppercase;
}

#header-subline {
  font-family: $font-header;
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: 600;
  color: $color-red;
}

#separator {
  margin: 15px 0 15px 0;
}

#callout-btn {
  background: $color-white;
  color: $color-red;
  border-radius: 5px;
  padding: 10px 20px;
  text-transform: uppercase
}

.white-btn {
  padding: 10px 20px;;
  background-color: $color-white;
  color: $color-red;
  text-transform: uppercase;
  border-radius: 5px;
}

.sec-title {
  font-family: $font-subtitle;
  font-size: 4.5em;
  letter-spacing: -2px;
  color: $color-red;
  //text-transform: uppercase;
}

.sec-subtitle {
  margin: -8px 0 10px 0;
  font-family: $font-header;
  font-weight: 700;
  font-size: 1.2em;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.sec-p {
  font-family: $font-header;
  font-size: 1.3em;
}
//recetas
#sabores {
  height: 280px;
  overflow: hidden;
}

//footer

#footer {
  background: $color-dark;
  color: $color-white;
  font-family: $font-header;
}